@model CourseProject.Web.ViewModels.GameViewModel;

@section Styles {
    <style>
        .wrapper {
            margin-top: 30px;
            display: grid;
            grid-template-rows: repeat(11, 1fr);
            grid-template-columns: repeat(11, 1fr);
        }

        .field {
            width: 300px;
        }

        .wrapper > div {
            height: 30px;
            border: 1px solid black;
            width: 30px;
            font-size: 16px;
            background: white;
            text-align: center;
        }

        .ship_placement {
            display: flex;
            align-items: flex-start;
        }

        .ship {
            height: 30px;
            background: grey;
            border: 1px solid black;
            margin-left: 70px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .cell {
            width: 30px;
            height: 30px;
            border-style: none;
            border: 1px solid black;
        }

            .cell:hover {
                background: #c0cfcd;
            }
    </style>
}

<div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <h3>Ваше поле</h3>
        <div class="field">
            <div class="wrapper">
                @for (int i = 0; i < 11; i++)
                {
                    @for (int j = 0; j < 11; j++)
                    {
                        if (i == 0)
                        {
                            if (j != 0)
                            {
                                <div data-toggle="modal" data-target="#purchaseModal" style="border: none;" data-row="@i" data-col="@j">@ViewBag.Characters[j - 1]</div>
                            }
                            else
                            {
                                <div data-toggle="modal" data-target="#purchaseModal" style="border: none;" data-row="@i" data-col="@j"></div>
                            }
                        }
                        else if (j == 0)
                        {
                            if (i != 0)
                            {
                                <div data-toggle="modal" data-target="#purchaseModal" style="border: none;" data-row="@i" data-col="@j">@i</div>
                            }
                            else
                            {
                                <div data-toggle="modal" data-target="#purchaseModal" style="border: none;" data-row="@i" data-col="@j"></div>
                            }
                        }
                        else
                        {
                            if (Model.UserField[i - 1][j - 1] == 1)
                            {
                                <div data-toggle="modal" data-target="#purchaseModal" style="background: grey;" data-field="user" data-disabled="false" data-row="@i" data-col="@j"></div>
                            }
                            else if (Model.UserField[i - 1][j - 1] == 0)
                            {
                                <div data-toggle="modal" data-target="#purchaseModal" data-disabled="false" data-field="user" data-row="@i" data-col="@j"></div>
                            }
                            else if (Model.UserField[i - 1][j - 1] == 2)
                            {
                                <div data-toggle="modal" data-target="#purchaseModal" style="background: #a2d5fc;" data-field="user" data-disabled="false" data-row="@i" data-col="@j"></div>
                            }
                            else if (Model.UserField[i - 1][j - 1] == 3)
                            {
                                <div data-toggle="modal" data-target="#purchaseModal" style="background: #f72323;" data-field="user" data-disabled="false" data-row="@i" data-col="@j"></div>
                            }

                        }
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center" id="ship_placement">
        <h3>Поле компьютера</h3>
        <div class="field">
            <div class="wrapper">
                @for (int i = 0; i < 11; i++)
                {
                    @for (int j = 0; j < 11; j++)
                    {
                        if (i == 0)
                        {
                            if (j != 0)
                            {
                                <div data-toggle="modal" data-target="#purchaseModal" style="border: none;" data-row="@i" data-col="@j">@ViewBag.Characters[j - 1]</div>
                            }
                            else
                            {
                                <div data-toggle="modal" data-target="#purchaseModal" style="border: none;" data-row="@i" data-col="@j"></div>
                            }
                        }
                        else if (j == 0)
                        {
                            if (i != 0)
                            {
                                <div data-toggle="modal" data-target="#purchaseModal" style="border: none;" data-row="@i" data-col="@j">@i</div>
                            }
                            else
                            {
                                <div data-toggle="modal" data-target="#purchaseModal" style="border: none;" data-row="@i" data-col="@j"></div>
                            }
                        }
                        else
                        {
                            if (Model.UserField[i - 1][j - 1] == 2)
                            {
                                <button data-toggle="modal" data-target="#purchaseModal" class="cell" style="background: #a2d5fc" data-field="computer" data-row="@i" data-col="@j"></button>
                            }
                            else if (Model.UserField[i - 1][j - 1] == 3)
                            {
                                <button data-toggle="modal" data-target="#purchaseModal" class="cell" style="background: #f72323" data-field="computer" data-row="@i" data-col="@j"></button>
                            }
                            else
                            {
                                <button data-toggle="modal" data-target="#purchaseModal" class="cell" style="background: #fff" onclick="handleClick(event)" data-field="computer" data-row="@i" data-col="@j"></button>
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/shot.js"></script>
}